name: 游 Build Windows Executable (PyInstaller)

on:
  push:
    branches: [ main ]
  # Permite ejecutar manualmente el flujo de trabajo
  workflow_dispatch: 

jobs:
  build:
    # Usaremos el runner de Windows para la mejor compatibilidad de binarios (aunque la acci칩n funciona en Linux/Ubuntu, Windows es m치s directo)
    runs-on: windows-latest 

    steps:
    - name: 游댃 Checkout code
      uses: actions/checkout@v4

    - name: 游닍 Package Application with PyInstaller
      uses: sayyid5416/pyinstaller@v1
      with:
        # Ruta al script principal dentro de la carpeta 'src'
        spec: 'src/main.py'
        
        # Ruta al archivo de dependencias
        requirements: 'src/requirements.txt'
        
        # Opciones de PyInstaller. Separadas por coma.
        # --onefile: En un solo archivo
        # --windowed: Sin ventana de consola (para la GUI)
        options: --onefile, --windowed
        
        # Versi칩n de Python a usar para la compilaci칩n
        python_ver: '3.10'
        
        # Nombre del Artifact a subir
        upload_exe_with_name: 'Discord-Cleaner-Bot-GUI'

    - name: 游닋 Upload Remaining .spec file (Opcional)
      uses: actions/upload-artifact@v4
      with:
        name: PyInstaller-Spec-File
        path: ./BotGUI.spec
        retention-days: 7
